@model IEnumerable<Task1.Models.Employee>

@{
    ViewData["Title"] = "GetEmpsByJob";
}

<h3>Get Employee Information based on Job</h3><br /><br />

<form action="/Employee/GetEmpsByJob" method="post">
    <label>Enter Job</label>
    <input name="job" type="text" />
    <input type="submit" value="Submit" />
</form>
<br /><br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ename)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deptno)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @{

            if(!(Model is null))
            {
                foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ename)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Job)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Salary)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Deptno)
                    </td>
                </tr>

                }
            }
        }

    </tbody>

</table>
